<md-sidenav class="md-sidenav-left md-whiteframe-z2">
  <md-toolbar class="md-tall">
    <div class="md-toolbar-tools"><h2>Companion for Cosmic Encounter</h2></div>
  </md-toolbar>
  <md-content layout-padding layout="column" layout-align="start start">
    <md-button href="index.html" md-list-item>Home</md-button>
    <md-divider></md-divider>
    <md-button href="generator.html" ng-disabled="true">Alien Generator</md-button>
    <md-button href="reference.html">Alien Reference</md-button>
    <md-button href="https://play.google.com/store/apps/details?id=net.fmorel.cosmicgenerator"><img src="icons/playstore_badge.png" /></md-button>
  </md-content>
</md-sidenav>