<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Alien Generator - Cosmic Companion</title>
  <meta name="description" content="Randomly assign aliens in Cosmic Encounter">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- icon in the highest resolution we need it for -->
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="icons/icon.png" />
  <!-- multiple icons for IE -->
  <meta name="msapplication-TileColor" content="#7071B5" />
  <meta name="msapplication-TileImage" content="icons/144.png" />
  <meta name="application-name" content="Cosmic Generator" />
  <meta name="apple-mobile-web-app-title" content="Cosmic" />
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css"
  />
  <link rel="stylesheet" type="text/css" href="dist/styles.css" />
</head>

<body>
  <noscript>
    This page requires JavaScript to run.
  </noscript>
  <div ng-controller="NavDrawer as Drawer">
    <cosmic-drawer page="'generator'"></cosmic-drawer>
    <md-content ng-controller="AlienGenerator as Generator">
      <!-- Header -->
      <cosmic-toolbar title="'Alien Generator'" drawer="Drawer"></cosmic-toolbar>
      <!-- Settings -->
      <md-content layout="row" layout-wrap>
        <md-card flex="100" flex-gt-xs="45" flex-md="30" flex-lg="10" flex-gt-lg="15">
          <alien-level-options save="Generator.change" options="Generator.settings.complexities"></alien-level-options>
        </md-card>
        <md-card flex="100" flex-gt-xs="45" flex-md="30" flex-lg="15" flex-gt-lg="15">
          <alien-game-options save="Generator.change" options="Generator.settings.games"></alien-game-options>
        </md-card>
        <md-card flex="100" flex-gt-xs="45" flex-md="30" flex-lg="20" flex-gt-lg="15">
          <md-card-content>
            <h4 class="md-title">Game setup</h4>
            <md-radio-group ng-model="Generator.settings.setupLevel" ng-change="Generator.change()">
              <md-radio-button value="none" class="md-primary">Remove none</md-radio-button>
              <md-radio-button value="color" class="md-primary">Remove those requiring extra color</md-radio-button>
              <md-radio-button value="all" class="md-primary">Remove all</md-radio-button>
            </md-radio-group>
          </md-card-content>
        </md-card>
        <md-card flex="100" flex-gt-xs="45" flex-lg="20" flex-gt-lg="15">
          <md-card-content>
            <h4 class="md-title">Exclude by name</h4>
            <md-select multiple ng-model="Generator.settings.namesExcluded" ng-change="Generator.change()" placeholder="Select names">
              <md-option ng-value="::name" ng-repeat="name in Generator.namesAll">{{::name}}</md-option>
            </md-select>
          </md-card-content>
        </md-card>
        <md-card flex="100" flex-gt-xs="45" flex-lg="25" flex-gt-lg="15">
          <md-card-content>
            <h4 class="md-title">How to choose</h4>
            <md-input-container>
              <label>Choices per player</label>
              <input type="number" step="1" ng-model="Generator.settings.numToChoose" min="1" ng-change="Generator.restrictNumToChoose()">
            </md-input-container>
            <div>
              <md-checkbox class="md-primary" ng-model="Generator.settings.preventConflicts">Prevent conflicts (like Oracle vs. Magician)</md-checkbox>
            </div>
          </md-card-content>
        </md-card>
      </md-content>
      <!-- Actions -->
      <md-toolbar class="" layout-wrap>
        <div id="generator-actions" layout-wrap class="padded-action">
          <md-button class="md-raised" ng-click="Generator.draw()" ng-disabled="Generator.disabled.draw">Draw</md-button>
          <md-button class="md-accent md-raised" ng-click="Generator.hide()" ng-disabled="Generator.disabled.hide">
            <ng-md-icon icon="visibility_off"></ng-md-icon> Hide</md-button>
          <span flex></span>
          <md-button class="md-accent md-raised" ng-click="Generator.show()" ng-disabled="Generator.disabled.show">
            <ng-md-icon icon="visibility"></ng-md-icon> Show</md-button>
          <md-button class="md-accent md-raised" ng-click="Generator.redo();" ng-disabled="Generator.disabled.redo">
            <ng-md-icon icon="history"></ng-md-icon> Redo</md-button>
          <md-button class="md-warn-theme md-primary md-raised" ng-click="Generator.reset()" ng-disabled="Generator.disabled.reset">
            <ng-md-icon icon="replay"></ng-md-icon> Reset</md-button>
        </div>
      </md-toolbar>
      <!-- State -->
      <md-content layout-padding>{{Generator.status}} {{Generator.state}}</md-content>
      <md-content layout="row" layout-wrap>
        <alien-panel ng-repeat="alien in Generator.aliensToShow track by alien.name | orderBy:'name'" item="::alien" flex="100" flex-gt-xs="50"
          flex-lg="33" flex-gt-lg="25"></alien-panel>
      </md-content>

    </md-content>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
  <script src="dist/index.js"></script>
  <script>
    angular.bootstrap(document, ['aliens.generator'], { 'strictDi': true });
  </script>
</body>

</html>