<!DOCTYPE html>
<html lang="en" ng-app="cc.aliens.reference" ng-strict-di>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Alien Reference - Cosmic Companion</title>
  <meta name="description" content="Reference page for aliens in Cosmic Encounter">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- icon in the highest resolution we need it for -->
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="icons/icon.png" />
  <!-- multiple icons for IE -->
  <meta name="msapplication-TileColor" content="#37387F" />
  <meta name="msapplication-TileImage" content="icons/144.png" />
  <meta name="application-name" content="Alien Reference - Companion for Cosmic Encounter" />
  <meta name="apple-mobile-web-app-title" content="Cosmic Aliens" />
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css" />
  <link rel="stylesheet" type="text/css" href="dist/css/cosmic.min.css" />
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <div ng-controller="NavDrawer">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-tall">
        <div class="md-toolbar-tools">
          <h2>Cosmic Companion</h2>
        </div>
      </md-toolbar>
      <md-content layout-padding layout="column" layout-align="start start">
        <md-button href="index.html" md-list-item>Home</md-button>
        <md-divider></md-divider>
        <md-button href="generator.html">Alien Generator</md-button>
        <md-button href="reference.html" ng-disabled="true">Alien Reference</md-button>
        <md-button href="https://play.google.com/store/apps/details?id=net.fmorel.cosmicgenerator">
          <img src="icons/playstore_badge.png" />
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content ng-controller="AlienReferenceController as Reference">
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="open()" aria-label="Settings">
            <ng-md-icon icon="menu" style="fill:#fff;"></ng-md-icon>
          </md-button>
          <h2>Alien Reference</h2>
        </div>
      </md-toolbar>
      <md-content layout="row" layout-sm="column" layout-wrap>
        <md-card flex-sm="100" flex-md="48" flex-lg="30" flex-gt-lg="31">
          <md-card-content>
            <h4 class="md-title">Levels to include</h4>
            <md-checkbox ng-change="Reference.change('complexities')" ng-model="complexities[level]" ng-repeat="(level, name) in ::['Green','Yellow','Red']"
            ng-class="::'md-primary md-alien'+(level+1)+'-theme'">{{::name}}</md-checkbox>
          </md-card-content>
        </md-card>
        <md-card flex-sm="100" flex-md="48" flex-lg="37" flex-gt-lg="31">
          <md-card-content>
            <h4 class="md-title">Games to include</h4>
            <md-checkbox ng-change="Reference.change('game')" ng-model="games[game]" ng-repeat="game in ::['E', 'A', 'C', 'D', 'I', 'S']"
            class="md-primary">{{::game | gameName}}</md-checkbox>
          </md-card-content>
        </md-card>
        <md-card flex-sm="100" flex-md="48" flex-lg="30" flex-gt-lg="31">
          <md-card-content>
            <h4 class="md-title">Sort by</h4>
            <ol >
              <li>Game</li>
              <li>Level</li>
              <li>Name</li>
            </ol>
          </md-card-content>
        </md-card>
      </md-content>
      <div ng-repeat="gameGroup in alienGroups">
        <div ng-repeat="levelGroup in ::gameGroup.items">
          <h3 layout-padding>{{::gameGroup.value | gameName}} - {{::levelGroup.value| levelName}} {{::levelGroup.value | levelStars}}</h3>
          <md-content layout="row" layout-sm="column" layout-wrap>
            <alien-panel ng-repeat="alien in ::levelGroup.items | orderBy:orderPref" alien="::alien" flex-md="50" flex-lg="33" flex-gt-lg="25"></alien-panel>
          </md-content>
        </div>
      </div>
    </md-content>
  </div>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="dist/js/cosmic.base.min.js"></script>
  <script src="dist/js/cosmic.aliens.min.js"></script>
  <script src="dist/js/aliens.reference.min.js"></script>
</body>

</html>