<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Alien Reference - Cosmic Companion</title>
  <meta name="description" content="Reference page for aliens in Cosmic Encounter">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- icon in the highest resolution we need it for -->
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="icons/icon.png" />
  <!-- multiple icons for IE -->
  <meta name="msapplication-TileColor" content="#7071B5" />
  <meta name="msapplication-TileImage" content="icons/144.png" />
  <meta name="application-name" content="Alien Reference - Companion for Cosmic Encounter" />
  <meta name="apple-mobile-web-app-title" content="Cosmic Aliens" />
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />
  <link rel="stylesheet" type="text/css" href="dist/styles.css" />
</head>
<body>
  <noscript>
    This page requires JavaScript to run.
  </noscript>
  <div ng-controller="NavDrawer as Drawer">
    <cosmic-drawer page="'reference'"></cosmic-drawer>
    <md-content ng-controller="AlienReference as Reference">
      <cosmic-toolbar title="'Alien Reference'" drawer="Drawer"></cosmic-toolbar>
      <md-content layout="row" layout-wrap>
        <md-card flex="grow" flex-gt-xs="30">
          <alien-level-options save="Reference.change" options="Reference.complexities"></alien-level-options>
        </md-card>
        <md-card flex="grow" flex-gt-xs="30">
          <alien-game-options save="Reference.change" options="Reference.games"></alien-game-options>
        </md-card>
        <md-card flex="grow" flex-gt-xs="30">
          <md-card-content>
            <h4 class="md-title">Sort by</h4>
            <ol>
              <li>Game</li>
              <li>Level</li>
              <li>Name</li>
            </ol>
            <h4 class="md-title">Group by</h4>
            <ol>
              <li>Game</li>
              <li>Level</li>
            </ol>
          </md-card-content>
        </md-card>
      </md-content>
      <div ng-repeat="gameGroup in Reference.alienGroups">
        <div ng-repeat="levelGroup in ::gameGroup.items">
          <h3 layout-padding>{{::gameGroup.value | gameName}} - {{::levelGroup.value| levelName}} {{::levelGroup.value | levelStars}}</h3>
          <md-content layout="row" layout-wrap>
            <alien-panel ng-repeat="alien in ::levelGroup.items track by alien.name | orderBy:Reference.orderPref" data-item="::alien" flex="grow" flex-gt-xs="50" flex-lg="33" flex-gt-lg="25"></alien-panel>
          </md-content>
        </div>
      </div>
    </md-content>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
  <script src="dist/index.js"></script>
  <script>
    angular.bootstrap(document, ['cc.aliens.reference'], { 'strictDi': true });
  </script>
</body>

</html>