/*Background to something based on alien level*/
.alien-bg-0 {
  background: #189247;
}
.alien-bg-1 {
  background: #c39c07;
}
.alien-bg-2 {
  background: #c31b09;
}
/*Foreground to something based on alien level*/
.alien-fg-0 {
  color: #189247;
}
.alien-fg-1 {
  color: #c39c07;
}
.alien-fg-2 {
  color: #c31b09;
}
.alien-head {
  display: block;
}
body,
md-content {
  background-color: #eee !important;
}
ng-md-icon svg {
  vertical-align: -6px !important;
}
.md-title {
  margin: 0 0 0.5em 0;
}
.md-button {
  min-width: 0 !important;
  margin: 0 4px !important;
}
.alien-head .md-button {
  font-size: large;
}
.alien-title {
  font-weight: bold;
}
.alien-bar {
  color: #fff;
  padding: 8px 16px;
  font-size: smaller;
  text-align: center;
  /*So warnings show up centered (non-float)*/
}
.alien-bar span {
  /*line-height: 1em;*/
}
.alien-desc {
  background: #dddddd;
}
