@import '~@angular/material/theming';

$level0: #189247;
$level1: #c39c07;
$level2: #c31b09;
$desc-bg: #ddd;

// Include the common styles for Angular Material.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$cosmic-primary: mat-palette($mat-deep-purple);
$cosmic-accent: mat-palette($mat-deep-purple);

$alien-0-palette: map-merge(mat-palette($mat-green, 900), (default: $level0));
$alien-1-palette: map-merge(mat-palette($mat-deep-orange, 900), (default: $level1));
$alien-2-palette: map-merge(mat-palette($mat-red, 900), (default: $level2));

// Create the theme object (a Sass map containing all of the palettes).
$cosmic-theme: mat-light-theme($cosmic-primary, $cosmic-accent);
$alien-0-theme: mat-light-theme($cosmic-primary, $alien-0-palette);
$alien-1-theme: mat-light-theme($cosmic-primary, $alien-1-palette);
$alien-2-theme: mat-light-theme($cosmic-primary, $alien-2-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cosmic-theme);
.alien-0-theme {
  @include mat-button-theme($alien-0-theme);
  @include mat-checkbox-theme($alien-0-theme);
}
.alien-1-theme {
  @include mat-button-theme($alien-1-theme);
  @include mat-checkbox-theme($alien-1-theme);
}
.alien-2-theme {
  @include mat-button-theme($alien-2-theme);
  @include mat-checkbox-theme($alien-2-theme);
}

body {
  margin:0;
}
/*Background to something based on alien level*/
.alien-0-theme .alien-bg { background: $level0; }
.alien-1-theme .alien-bg { background: $level1; }
.alien-2-theme .alien-bg { background: $level2; }


/*Foreground to something based on alien level*/
.alien-0-theme .alien-fg { color: $level0; }
.alien-1-theme .alien-fg { color: $level1; }
.alien-2-theme .alien-fg { color: $level2; }

body { background-color: #eee !important; }
.mat-card { margin: 8px; }
.mat-button, .mat-raised-button { min-width: 0 !important; }
html, body, aliens-reference-app, md-sidenav-container, #content {
  margin: 0;
  width: 100%;
  height: 100%;
}

alien-card {
  .mat-icon { width: 16px; height: 16px; }
  .material-icons { font-size: 16px; }
	.mat-card { padding: 0 }
	.mat-card-title { font-weight: bold; }
	.mat-card-subtitle { font-weight: normal; }
	.mat-card-header { justify-content: space-between; padding: 16px 16px 0 16px;  }
	.mat-card-header-text { font-weight: bold; margin: 0; }
	.mat-card-avatar { order: 2; width: inherit; }
	.mat-raised-button { min-width: 0; line-height: 24px; padding: 0 8px; }
	.mat-card-footer { position: relative; }
	.alien-bar {
		display:flex; justify-content: space-between;
		font-size: smaller;
		color: #fff;
	}
	.alien-bar > span { margin: 8px 16px; }
	.alien-desc { font-size: smaller; background: #eee; padding: 8px 16px; }
}

/*
#generator-actions ng-md-icon {
  fill-opacity: 0.87;
  fill: #000;
}

#generator-actions [disabled] ng-md-icon {
  fill-opacity: 0.26 !important;
  fill: #000 !important;
}

md-select-menu md-option[selected] {
  background-color: rgba(103, 58, 183, 0.1);
}
*/