@level0: #189247;
@level1: #c39c07;
@level2: #c31b09;
@desc-bg: #ddd;

/*@import (inline) '../../node_modules/angular-material/angular-material.min.css';*/


/*Background to something based on alien level*/

.alien-bg-0 {
  background: @level0;
}

.alien-bg-1 {
  background: @level1;
}

.alien-bg-2 {
  background: @level2;
}


/*Foreground to something based on alien level*/

.alien-fg-0 {
  color: @level0;
}

.alien-fg-1 {
  color: @level1;
}

.alien-fg-2 {
  color: @level2;
}

.alien-head {
  display: block;
}

body, md-content {
  background-color: #eee !important;
}

.padded-action {
  padding: 8px;
}

ng-md-icon svg {
  vertical-align: -6px !important;
}

#generator-actions ng-md-icon {
  fill-opacity: 0.87;
  fill: #000;
}

#generator-actions [disabled] ng-md-icon {
  fill-opacity: 0.26 !important;
  fill: #000 !important;
}

.md-title {
  margin: 0 0 0.5em 0;
}

.md-button {
  min-width: 0 !important;
  margin: 0 4px !important;
}

.alien-head .md-button {
  font-size: large;
  float: right;
}

.alien-head .md-title {
  font-weight: bold;
}

.clear {
  clear: both;
}

.alien-bar {
  color: #fff;
  padding: 8px 16px;
  font-size: smaller;
  text-align: center;
  /*So warnings show up centered (non-float)*/
}

.alien-panel-game {
  float: left;
}

.alien-panel-level {
  float: right;
}

.alien-desc {
  background: @desc-bg;
}

md-select-menu md-option[selected] {
  background-color: rgba(103, 58, 183, 0.1);
}