<mat-card [ngClass]="'alien-'+alien.level+'-theme'">
  <mat-card-header>
    <div mat-card-avatar>
      <button mat-raised-button class="mat-accent" (click)="opened=!opened">
        <mat-icon>{{opened ? 'remove': 'add'}}</mat-icon>
      </button>
    </div>
    <mat-card-title class="alien-fg">{{alien.name}}</mat-card-title>
    <mat-card-subtitle>{{alien.power}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer>
    <div class="alien-bar alien-bg">
      <span>{{alien.game}}</span>
      <span *ngIf="(alien.setup || alien.restriction)">
        <mat-icon>warning</mat-icon>
      </span>
      <span>{{alien.level | levelStars}}</span>
    </div>
    <div *ngIf="opened" class="desc" [innerHTML]="alien.description"></div>
    <div *ngIf="opened && alien.player" class="alien-bar alien-bg">
      <span>{{alien.player}}</span>
    </div>
    <div *ngIf="opened && alien.mandatory" class="alien-bar alien-bg">
      <span>{{alien.mandatory}}</span>
    </div>
    <div *ngIf="opened && alien.phases" class="alien-bar alien-bg">
      <span>Phases: {{alien.phases.split(",").join(", ")}}</span>
    </div>
  </mat-card-footer>
</mat-card>