<mat-sidenav-container>
  <mat-sidenav #leftnav>
    <cosmic-drawer [page]="'generator'"></cosmic-drawer>
  </mat-sidenav>
  <div id="content">
    <mat-toolbar class="mat-primary">
      <button mat-button (click)="leftnav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>&nbsp;
      <h1>Game Generator</h1>
    </mat-toolbar>
    <div id="container">
      <cosmic-game-options [games]="settings.games" (change)="onSelectGame($event)"></cosmic-game-options>
      <alien-level-options [levels]="settings.levels" (change)="onSelectLevel($event)"></alien-level-options>
      <mat-card>
        <mat-card-title>Game Setup</mat-card-title>
        <mat-radio-group [(ngModel)]="settings.setupLevel" (change)="change()">
          <mat-radio-button value="" class="mat-primary">Remove none</mat-radio-button>
          <mat-radio-button value="color" class="mat-primary">Remove those requiring extra color</mat-radio-button>
          <mat-radio-button value="all" class="mat-primary">Remove all</mat-radio-button>
        </mat-radio-group>
      </mat-card>
      <mat-card>
        <mat-card-title>Exclude by name</mat-card-title>
        <mat-form-field>
          <mat-select multiple [(ngModel)]="settings.namesExcluded" (selectionChange)="change()" placeholder="Select names">
            <mat-option *ngFor="let name of namesAll" [value]="name">{{name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <mat-card>
        <mat-card-title>How to choose</mat-card-title>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="settings.numToChoose" placeholder="Choices per player" step="1" min="1" (change)="restrictNumToChoose()">
        </mat-form-field>
        <div>
          <mat-checkbox class="mat-primary" (change)="saveSettings()" [(ngModel)]="settings.preventConflicts">Prevent conflicts (like Oracle vs. Magician)</mat-checkbox>
        </div>
      </mat-card>
    </div>
    <mat-toolbar id="gen-actions">
      <span class="space-right alien-0-theme">
        <button mat-raised-button class="mat-accent" (click)="draw()" [disabled]="disabled.draw">Draw</button>
      </span>
      <span class="">
        <button mat-raised-button class="mat-primary" (click)="hide()" [disabled]="disabled.hide">
          <mat-icon>visibility_off</mat-icon>&nbsp;Hide</button>
      </span>
      <span class="space-right">
        <button mat-raised-button class="mat-primary" (click)="show()" [disabled]="disabled.show">
          <mat-icon>visibility</mat-icon>&nbsp;Show</button>
      </span>
      <span class="space-right alien-1-theme">
        <button mat-raised-button class="mat-accent" (click)="redo();" [disabled]="disabled.redo">
          <mat-icon>history</mat-icon>&nbsp;Redo</button>
      </span>
      <span class="space-right alien-2-theme">
        <button mat-raised-button class="mat-accent" (click)="reset()" [disabled]="disabled.reset">
          <mat-icon>replay</mat-icon>&nbsp;Reset</button>
      </span>
    </mat-toolbar>
    <p class="mat-body-1" id="gen-status">{{status}} {{state}}</p>
    <alien-grid [aliens]="aliensToShow"></alien-grid>
  </div>
</mat-sidenav-container>