#container { display: flex; flex: auto; flex-wrap: wrap; align-content: stretch; }
mat-radio-button { display: block; margin: 16px 0; }
#gen-actions { padding: 0 8px; }
#gen-status { margin: 16px; }
.space-right { margin-right: 16px; }